@model Bank.Models.Account

@{
    ViewData["Title"] = "Account Details";
}

<h2>Account Details</h2>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AccountId">Edit</a>
    <a asp-controller="Transaction" asp-action="Create" asp-route-accountId="@Model.AccountId">Create Transaction</a>
    <a asp-controller="Transaction" asp-action="Index" asp-route-accountId ="@Model.AccountId">Show My Transactions</a>
    <a asp-action="Index">Back to List</a>
</div>